<header class="hero-unit" id="banner" ng-init="setvalues()">
  <div class="container">
    <h1>Select the Jobs</h1>

  </div>
</header>
<div class="center">
<div ng-init="$ctrl.selectedpost=null" class=" btn-group">
<br>
  <button class="btn btn-success" ng-click="$ctrl.selectedpost=''">All</button>
  <button class="btn btn-primary "  ng-repeat="post in $ctrl.allposts" ng-click="$ctrl.selectedpost=post" >{{post.name}}</button>
<br>

</div>
</div>
<div class="container">
  <table class="table table-striped"  style="margin-top: 10px;">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Post</th>
      <th>Vacancy</th>
      <th>Select</th>
      <th>Reject</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="appli in $ctrl.applications | filter:{postid:{_id:$ctrl.selectedpost._id}} | orderBy:'postid.name'"  >
      <th >{{$index+1}}</th>
      <td uib-tooltip="{{appli.userid.email}}">{{appli.userid.name}}</td>
      <td>{{appli.postid.name}}</td>
      <td>{{appli.postid.maxapp}}</td>
      <td >
        <button class="btn btn-primary"  ng-click="$ctrl.Approve(appli);
        appli.disable=true;" ng-disabled="(appli.status || appli.disable)" ng-show="appli.postid.maxapp>0" >Select</button> 
      </td>
      <td>
      <button class="btn btn-success" ng-click="$ctrl.Delete(appli) " >Reject</button>
      </td>
    </tr>
  </tbody>
</table>
</div>