<header class="hero-unit" id="banner">
  <div class="container">
    <h1 ng-show="$ctrl.isAdmin()">CRUD the Jobs</h1>
    <h1 ng-hide="$ctrl.isAdmin()">Apply For Jobs</h1>

  </div>
</header>
 <div class="container" ng-show="$ctrl.isAdmin()" >
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Vacancy</th>
      <th>Info</th>
      <th>Action</th>
    </thead>
    <tbody>    
      <tr ng-repeat="post in $ctrl.allposts track by $index">

        <td ng-hide="post.edit">{{post.name}}</td>
        <td ng-show="post.edit"><input type="text" ng-model="post.name"></td>

        <td ng-hide="post.edit">{{post.maxapp}}</td>
        <td ng-show="post.edit"><input type="number" ng-model="post.maxapp"></td>
 
        <td ng-hide="post.edit">{{post.info}}</td>
        <td ng-show="post.edit"><input type="text" ng-model="post.info"></td>
 
        <td ng-hide="post.edit">
          <button class="btn btn-success" ng-click="$ctrl.EditPost($index)">Edit</button>
          <button class="btn btn-danger" ng-click="$ctrl.DeletePost($index)">Delete</button>
        </td>
        <td ng-show="post.edit">
          <button class="btn btn-primary" ng-click="$ctrl.SavePost(post)">Save</button>
          <button class="btn btn-danger" ng-click="$ctrl.Cancel($index)">Cancel</button>
        </td>
    </tr>
  </tbody>
    <tr>
      <td><input type="text" placeholder="Name" ng-model="$ctrl.newpost.name"></td>
      <td><input type="text" placeholder="Vacancy" ng-model="$ctrl.newpost.maxapp"></td>
      <td><input type="text" placeholder="Info" ng-model="$ctrl.newpost.info"></td>
      <td>
        <button class="btn btn-primary" ng-click="$ctrl.addPost()">Add New</button>
      </td>
    </tr>
  </table>
</div>
<div ng-show="!($ctrl.isAdmin()) ">
  <table class="table table-striped"  style="margin-top: 10px;">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Info</th>
      <th>Apply</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="post in $ctrl.allposts" >
      <th >{{$index+1}}</th>
      <td>{{post.name}}</td>
      <td>{{post.info}}</td>
      <td >
        <button class="btn btn-primary"  ng-click="$ctrl.Apply($index)" ng-disabled="post.apply">Apply</button> 
        <button class="btn btn-success" ng-show="post.selected" >Selected</button>
      </td>
    </tr>
  </tbody>
</table>
</div>